*{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    background:#f4f3ff;
}
/*---------Menu-----------*/
#menu{
    width:100%;
    height: 50px;
    background-color: #FF9900;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    position:fixed;
    z-index: 1;
}
#menu div{
    display: inline-flex;
    top:0%;
    left:50%;
    transform: translate(-12%,0);
    position: absolute;
    width:100%;background-color: #FF9900;
}
#menu li{
    display:inline-block;background-color: #FF9900;
    margin: 15px;
}
#menu li a{
    color:black;
    text-decoration: none;
    font-family:"Roboto",sans-serif;
    background-color: #FF9900;
}
#menu li a:hover{
    border-bottom:3px solid #f4f3ff;
}
#logo{
    margin-left: 7%;
    height:60px;
}
@media screen and (max-width:900px){
    #menu div{
        transform: translate(-20%,0);
    }
}
@media screen and (max-width:750px){
    #logo{
        margin-left: 1%;
    }
    #menu div{
        transform: translate(-25%,0);
    }
}
@media screen and (max-width:690px){
    #menu{
        height: 80px;
    }
    #menu div{
        transform: translate(-50%,0);
        top:50%;
    }
}
@media screen  and (max-width:530px) {
    #menu li{
        margin: 10px;
        margin-bottom: 0px;
    }
}
@media screen  and (max-width:480px) {
    #menu{
        height:115px;
    }
    #menu div{
        display: block;
        top:50px;
    }
}
@media screen and (max-width:275px) {
    #menu{
        height:125px;
    }
    #menu div{
        transform: translate(-50%,0);
        top:30%;
    }
}
/*----INDEX PAGE----*/
#head_page{
    width:100%;
    min-height: 100vh;
    background-color: rgb(240 176 8);
}
#get_started{
    top:85%;
    left: 51px;
    padding: 15px;
    padding-left:30px;
    padding-right:30px;
    border-radius: 25px;
    position: absolute;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
}
#get_started:hover{
    box-shadow: 2px 2px 1px 2px black;
}
#head_page img{
    left:55%;
    height:100%;
    position: absolute;
}
#title-text{
    left:51px;
    position: absolute;
    color:white;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*---About Us---*/
#about{
    text-align: center;
    font-size:35px;
    font-weight: lighter;
    margin-bottom: 100px;
}
#about h1{  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-weight: lighter;
    text-decoration: underline;
    color: #000000;
    
}
#about1{
    display: inline-flex;
}
#about1 p{
    width:90%;
    color: rgb(161, 161, 161);
}
#about1 h1{
    margin-left:7%;
}
#about1 img{
    height:80%;
    box-shadow: 3px 1px 5px 1px rgb(97, 96, 96);
}
#rabbit{
    box-shadow: 3px 1px 5px 1px rgb(97, 96, 96);
    width:100%;
}
#join{
    padding-top:60px;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: rgb(248 174 191);
}
#register{
    left:10%;
    position: relative;
    width: 25%;

}
#line{
    width:10px;
   background-color:black;
    left:50%;
    transform: translate(-50%,-50%);
    height:60vh;
    position: absolute;
    top:535%;
}
#signup{
    top:5%;
    left:20%;
    position: relative;
}
#parrot{
    width:83%
}
#Signin button{
    width:300px;
    background-color: rgb(248 174 191);
    height: 26px;
}
#Signin button:hover{
    background-color: blue;
}
input,select{
    width:300px;
    height:26px;

}
#login{
    left:60%;
    top:510%;
    position: absolute;
}
/*----Home Page----*/
#home_page{
    background:#FF9900;
    width:100%;
    overflow: hidden;
    height:200vh;
    
}
#h1_logo{
    top:30%;
    left:13%;
    position:absolute;
    color:white;
    margin: 0px;
}
#friends{
    right:0%;
    top:8%;
    height:100vh;
    position: fixed;
    width:250px;
    background-color: #FFBB54;
    z-index:1;
}
#home{
    left:30%;
    top:8%;
    position: absolute;
    width:40%;
    background-color: #FFBB54;
    overflow-y: scroll;
}
#home::-webkit-scrollbar {
    width: 0px;
}
#menu select{
    background-color: transparent;
    width: 20px;
    border-color: transparent;
}
#health{
    top:15%;
    left:50%;
    transform: translate(-50%,0%);
    position:absolute;
}
#health button {
    padding:12px;
    background-color: white;
    border-radius: 25px;
    font-size: 23px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position:relative;
}
#health button:hover{
    background-color: rgb(161, 161, 161);
}
button{
    cursor: pointer;
}
#friends h1{ 
    text-align: center;
    
}
#sample table th{
    padding-left:30px;
}
#sample table i{
    background-color: gray;
    padding:10px;
    border-radius: 25px; 
}
table{
    padding-right:30px;
    margin: 15px;
}
table:hover{
    box-shadow: 1px 0px 1px 1px white;
    cursor: pointer;
}
#agreement{
    width:500px;
    height:400px;
    overflow-y: scroll;    
}
#check{
    padding:0px;
    width:50px;
}
#select1{
    background-color: white;
    width:300px;
    height:26px;
    display: block;
}
#dubai{
    display: none
}
#sharjah{
    display: none
}
#ajman{
    display: none
}
#abu_dhabi{
    display: none
}
#post_title{
    display: inline-block;
}
#posts{
    background-color: white;
    margin:20px;
    box-shadow: 3px 1px 5px 1px rgb(97, 96, 96);
    border-radius: 5px;
    padding: 5px;
}
#posts p{
    padding: 0px;
}
#details #bio{
    top:30%;
    left:50%;
    transform : translate(-50%,0%);
    position:absolute;
    width:50%;
    background-color: white;
}
#detais #bio h1{
    padding: 5px
}
h1{
    cursor: pointer;
}
#diseases{
    display: none;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: white;
    box-shadow: 1px 0px 3px 1px grey;
    border-radius: 20px;
    padding: 20px;
}
#diseases button{
    width:300px;
    height:24px;
    background-color:#FFBB54;
}
#doctor{
    width:50%;
    left:50%;
    transform: translate(-50%,0);
    background: white;
    height: 100vh;
    position: absolute;
}
#health{
    display: inline-flex;
}
#health div{
    padding-left:100px;
}
#health div img{
    width:300px;
    height:250px
}
