<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Pet World</title>
    <link rel='stylesheet' href='../static/style.css'>
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-con'>
    <script src="https://kit.fontawesome.com/6ec1b407db.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Menu-->
    <section id='menu'>
        <img src='../static/images/logo.png' id='logo'><h1 id='h1_logo'>Pet World</h1>
        <div>
            <li  style='border-bottom:3px solid #f4f3ff;'><i class="fas fa-home"></i> Home</a></li>
            <li><a href='./healthcare'><i class="fas fa-briefcase-medical"></i> Health Care</a></li> 
            <li><a href='/Upload'><i class="fas fa-upload"></i> Upload</a></li>
            <li ><a href='/store'><i class="fas fa-store"></i> Store</a></li>
            <li><a href='search'><i class="fas fa-search"></i> Search</a></li>
            <li><a href='/'><i class="fas fa-user"></i></a></li>  
            <li><a href='/notification'><i class="fas fa-bell"></i></a></li>  
        </div>
        
    </section>
    <section id='home_page'>
        <div id='home'>
            <div id="posts">
                <img src='../static/images/blog.png'>
            </div>
        </div>
    </section>
    <section id='friends'>
        <h1 style='border-bottom:3px solid #f4f3ff;'><i class="fas fa-users"></i> Following</h1>
        {%for i in data[1]:%}
        <div id="sample">
            <table >
                <tr>
                  <th><i class="fas fa-user"></i></th>
                  <th><a href={{i}}><h2>{{i}}</h2></a></th> 
                </tr>
              </table>
        </div>
        {%endfor%}
        
    </section>
</body>
</html>