<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucessful</title>
</head>
<body>
    <h1>Your Account is succesfully created.</h1>
    <br><br>
    <div id="data">
        <form action="/bio" method="post" enctype="multipart/form-data">
            <label >Add your Bio</label>
            <input type="text" name="bio" id="bio" placeholder="Write Your Bio">
            <input type="file" name="profile_pic" id="profile_pic">
            <button type="submit">Add to Bio</button>
        </form>
    </div>
</body>
</html>