<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <link rel='stylesheet' href="../static/style.css">
    <script src="https://kit.fontawesome.com/6ec1b407db.js" crossorigin="anonymous"></script>

</head>
<body>
    <!--Menu-->
    <section id='menu'>
        <img src='../static/images/logo.png' id='logo'><h1 id='h1_logo'>Pet World</h1>
        <div>
            <li><i class="fas fa-home"></i> Home</a></li>
            <li><a href='./healthcare'><i class="fas fa-briefcase-medical"></i> Health Care</a></li> 
            <li  style='border-bottom:3px solid #f4f3ff;'><a href='/Upload'><i class="fas fa-upload"></i> Upload</a></li>
            <li ><a href='/store'><i class="fas fa-store"></i> Store</a></li>
            <li><a href='/'><i class="fas fa-user"></i> Account</a></li>  
            <li><a href='/notification'><i class="fas fa-bell"></i></a></li>  
        </div>
        
    </section>
    <section id='home_page'>
        <div id="health">
        </div>
        <div >
            <h1>Article</h1><br>
            <form method='post' action='post'>
                <input type='text' name="post" placeholder="Write your post..."><br>
                <label>Upload image</label><br>
                <input type='file'><br>
                <button type=submit>Post</button>
            </form>
        </div>
        <div ></div>
    </section>
    <script>
    </script>
</body>
</html>